{% extends 'index.html' %}
{% block homepage %}
{% endblock %}
{% block content %}
<style type="text/css">
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 198px;
    background-color: #f4511e;
  }

  li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
  }

  li a.active {
      background-color: #949494;
      color: black;
  }

  li a:hover:not(.active) {
      background-color: #555;
      color: white;
  }
</style>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div style="padding-top: 60px;">
<div align="center" class="panel panel-dashboard" style="color: #fff;">
<ul>
  <li><a href="/summary">Account summary</a></li>
  <li><a href="/addexpense">Expense</a></li>
  <li><a href="/addincome">Income</a></li>
  <li><a href="#about">About</a></li>
</ul>
</div>
<div class="panel panel3">
<div class="row">
<div align="center" class="col-md-6">
<form action="/addexpense" method="post">
{% csrf_token %}
{% for field in form %}
	{% if field.label != 'Owner' %}
		{{field.label}}{{field}}<br>
	{% else %}
	<div class="form-control" style="display: none;">
			{{field}}
		</div> 
	{% endif %}
	{% if field.errors %}
		<div class="alert alert-danger">
			{{field.errors}}
		</div>
	{% endif %}
{% endfor %}
{{ form.non_field_errors }}
<button class="btn btn-success" type="submit">Submit </button>
</form>
</div>
</div>
</div>
</div>
  <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2100",
      // You can put more options here.

    });
  });
  </script>
{% endblock %}