{% extends 'dashboard.html' %}
{% block dashboard %}
<div class="col-md-10" style="margin-top: 200px;">
<div class="row">
<div align="center" class="col-md-12">
<form action="/addexpense" method="post">
{% csrf_token %}
{% for field in form %}
	{% if field.label != 'Owner' %}
    <div class="form-group" style="margin:20px;">
    <div class="col-md-2">
		<span style="float: right; margin-left: 20px;">{{field.label}}:</span> 
    </div>
    <div class="col-md-6">
    <span style="text-align: left;">{{field}}</span>
    </div>
    </div>
	{% else %}
	<div class="form-control" style="display: none;">
			{{field}}
	</div> 
	{% endif %}
	{% if field.errors %}
		<div class="alert alert-danger">
			{{field.errors}}
		</div>
	{% endif %}
  <br>
{% endfor %}
{{ form.non_field_errors }}
<button class="btn btn-success" type="submit" style="text-align: center;">Submit </button>
</form>
</div>
</div>
</div>

{% endblock %}